html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
}

#SignUp {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
}

#title {
  font-size: 3.0vw;
  font-weight: bold;
  margin-bottom: 2vmax;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


input {
  width: 40vw;
  border: 1px solid #ddd;
  height: 3vw;
  padding: 0 2vw;
  font-size: 1.5vw;
  margin-top: 1vw;
}

button {
  width: 40vw;
  height: 3vw;
  font-size: 1.5vw;
  background: #069;
  text-align: center;
  line-height: 3vw;
  font-weight: bold;
  color: #FFF;
  margin-top: 1vw;
  border: none;
}
 